body{
    background-color: rgb(255, 228, 196);
}
.container_heading{
    margin:0 auto;
    display: block;
    width:100%;
    height: 300px;
}
.heading{

    display: block;
    text-align: center;
}

.hobby{
    display: inline-block;
    color: burlywood;
    text-shadow: 0px 5px 5px #777;
    margin-top: 100px;
    background-color: #B4C7A3;
    -webkit-text-shadow: 0px 5px 5px #777;
}
.description{
    color: #000;
    font-family: "Adobe Devanagari";
    font-size: 20px;
    line-height: 40px;
}
.container_subheading{
    width:100%;
    height: 200px;
    display: block;
    background-color: #827d7d;
}
.sub_heading h2{
    text-align: center;
    padding-top:40px;
    font-size: 25px;
}
.container_footer{
    height:400px;
    background-color: black;
    display: block;
    padding:50px;
}
.footer_logo{
    color: #FFFFFF;
    font-size:70px;
    text-align:center;
    padding-top: 30px;
    text-after-overflow: hidden;
    text-shadow: 0px 5px 0px #333;
    margin:0px;
}
.container_address{
    background-color: #B4C7A3;
    height:200px;
    display: block;
    margin:0;
}
.bar{
    font-weight:bold;
    font-size: 30px;
    text-align:right;
    padding: 30px;
    margin: 0px;
}